.app-container {
  display: flex;
  width: 100%;
  gap: 25px;
}

.main-content-wrapper {
  margin-left: 23%; /* same as .sidebar width */
  width: 77%; /* remaining width */
  min-height: 100vh;
  overflow-y: auto;
  background-color: var(--dashboard-bg);
  padding: var(--spacing-lg);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}


/* Responsive adjustments */
@media (max-width: 1024px) {
  .app-container {
    flex-direction: column; /* Stack sidebar and main content vertically */
  }

  .sidebar {
    width: 100%; /* Full width for sidebar on smaller screens */
    height: auto; /* Auto height */
    padding: var(--spacing-md);
  }

  .main-content-wrapper {
    padding: var(--spacing-md);
    margin-left: 0% !important;
    width: 100%;

  }
}

@media (max-width: 768px) {
  .main-content-wrapper {
    padding: var(--spacing-sm);
  }
}